###### Requirements without Version Specifiers ######
#
coveralls # Needed for coveralls.io integration
nose # Nose testing library
#

###### Requirements with Version Specifiers ######
#
coverage ~= 4.2 # Needed for coverage statistics
# Note: The below TensorFlow URL is for 64 bit Ubuntu/Linux, using CPU only, supporting python 2.7 only
export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0rc0-cp27-none-linux_x86_64.whl
#